<%- include('partials/header'); -%>


    <h1>Home</h1>
    <p><%=homeinfo %></p>

    <% kindofposts.forEach(function(kindofpost) { %>
   
      <h1><%=kindofpost.title%></h1>
      <p><%=kindofpost.content.substring(0,100)+"..." %>
     
        <a href="/posts/<%=kindofpost.title%>">Read more</a>
    </p>
    <%})%>
    <%- include('partials/footer'); -%>

